/***************************   Desktop   ***************************/

:root{
  /**/
  --icon-height: 20px;
  --icon-width: 20px;
  --theme-color: #52FC18;
  --theme-color-opacity: rgba(82, 252 , 24, .75);
  --background: #0c0e0f;
  --background-opacity-dark: rgba(12,14,15, 0.65);
  --background-opacity-light: rgba(12,14,15, 0.25);
  --chat-background: #101214;
  --primary: #191b1f;
  --secondary: #25272d;
  --primary-foreground: #FFFFFF;
  --secondary-foreground: #a7b1b8; 
  --primary-border: #393a3c;
}

html body{
  margin: 0;
  background-color: var(--background);
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.favicon{
  width: auto
}

container{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  width: 100vw;
  height: 100vh;
  position: relative;
  grid-template-areas: 
  "header header"
  "sidebar rest"
}

header{
  height: fit-content;
  /* width: 100vw; */
  min-height: 40px;
  background-color: var(--secondary);
  outline: var(--background) solid .5px;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
}

.logo{
  height: 28px;
  width: 45px;
}

nav{
  display: flex;
  padding: 0px 20px;
  gap: 15px;
  display: flex;
  align-items: center;
}

nav > .wrapper{
  display: flex;
  padding: 3px;
  border-radius: 3px;
}

.left{
  gap: 22px
}

searchbar{
  position: relative;
}

.search-input{
  height: 35px;
  width: 260px;
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  padding-left: 38px;
  font-size: 15px;
}

button{
  height: fit-content;
  width: fit-content;
  white-space: nowrap;
  padding: 10px 10px;
  font-size: 16px;
}

.border{
  background-color: transparent;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  overflow: hidden;
  position: relative;
}

.fill{
  background-color: var(--primary-border);
}

.theme{
  background-color: var(--theme-color);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme.disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

.icons{
  height: var(--icon-height);
  width: var(--icon-width);
  color: #FFFFFF;
}

.i{
  height: 18px;
  width: auto;
}

.icons.expand{
  position: absolute;
  top: 11px;
  right: 8px;
  z-index: 1;
}

.icons.small{
  height: calc(var(--icon-height) - 5px);
  width:  calc(var(--icon-height) - 5px);
}

.searchbar{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  height: 18px;
  width: 18px;
  color: var(--primary-foreground);
}

.search{
  display: none;
}

.tower{
  color: var(--theme-color);
  margin-bottom: 4px;
}

sidebar{
  height: 100%;
  width: 260px;
  background-color: var(--primary);
  /* transition: width .5s; */
  transform: translateX(0);
  border-right: var(--primary-border) solid .5px;
  grid-area: sidebar;
}

sidebar > .header{
  display: flex;
  /* width: 100%; */
  justify-content: space-between;
  align-items: center;
  padding: 25px 15px 10px 15px;
}

.tab{
  padding: 5px 10px;
  margin-bottom: 12px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  justify-content: inherit;
  /* background-color: red; */
}

.collapsed{
  width: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5px 15px;
  margin-bottom: 0px;
}

.tab.collapsed:nth-child(1){
  margin: 19px 0px 10px;
}

.tab.collapsed > .wrapper > .avi {
  outline: var(--theme-color) 2px solid;
}

.tab.collapsed > .wrapper {
  padding: 6px 5px;
  border-radius: 2px;
}

.tab > .spacing {
  /* background-color: blue; */
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  padding: 4px 0px;
  border-radius: 3px;
  align-items: center;
}

.tab > .spacing > .avi{
  margin-left: 7px
}

.tab > .spacing > .viewers{
  margin-right: 5px
}

.tab > .wrapper {
  /* background-color: blue; */
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  /* padding: 5px */
}

.show-more{
  font-weight: bold;
  font-size: 13px;
  color: var(--secondary-foreground);
  display: flex;
  margin-left: 10px;
  justify-self: flex-start;
}

.show-less{
  font-weight: bold;
  font-size: 13px;
  color: var(--secondary-foreground);
  display: flex;
  justify-self: flex-end;
  margin-left: auto;
  margin-right: 5px;
}

.invisible{
  display: none;
  visibility: hidden;
} 

.avi{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: var(--secondary);
  flex-shrink: 0;
  position: relative;
  overflow: hidden;
}

.description{
  display: flex;
  flex-direction: column;
  margin: 0px 8px; 
  gap: 3px;
  flex: 1;
  min-width: 0px;
}

.tab-header{
  margin: 0;
  font-weight: bold;
  font-size: 13px;
  color: var(--primary-foreground);
}

.tab-detail{
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  color: var(--secondary-foreground);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.viewers{
  display: flex;
  align-items: center;
  gap: 5px;
  flex-shrink: 0;
}

.status{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: var(--theme-color);
}

.views{
  color: var(--primary-foreground);
}

content{
  grid-area: rest;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  overflow-x: hidden;
}

content > section:nth-child(1) > h2{
  padding: 8px 0px 0px;
}

h1{
  margin: 0px 0px 10px;
  font-size: 30px;
  font-weight: bold;
  color: var(--primary-foreground);
}

h2{
  margin: 0px 0px 10px;
  font-size: 20px;
  font-weight: bold;
  color: var(--primary-foreground);
}

h3{
  margin: 0;
  font-size: 14px;
  color: var(--primary-foreground);
  font-weight: bold;
}

section{
  margin: 22px 25px;
  position: relative;
}

.thin{
  margin: 0px 25px
}

.medium{
  margin: 12px 25px
}

carousel{
  /* height: fit-content; */
  /* display: grid;
  grid-template-columns: repeat(3, auto); */
  display: flex;
  width: 100%;
  gap: 15px;
}

carousel > .wrapper{
  flex: 1;
  display: flex;
  /* flex-shrink: 0; */
  flex-direction: column;
  /* background-color: red; */
  gap: 5px;
}

carousel > .wrapper > div{
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

carousel > .wrapper > div:nth-child(2){
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
  color: var(--primary-foreground);
}

carousel > .wrapper > div:nth-child(3){
  font-weight: 550;
  font-size: 15px;
  color: var(--secondary-foreground)
}

carousel > .wrapper > div:nth-child(4){
  font-size: 14px;
  color: var(--secondary-foreground)
}

.move-left{
  height: 25px;
  width: auto;
  position: absolute;
  left: -30px;
  top: calc(50% - 15px);
  transform: translateY(-50%);
  color: var(--primary-foreground);
  z-index: 1;
  margin-right: 10px
}

.move-right{
  height: 25px;
  width: auto;
  position: absolute;
  right: -30px;
  top: calc(50% - 15px);
  transform: translateY(-50%);
  color: var(--primary-foreground);
  z-index: 1;
}

.arrows{
  opacity: 0;
  transition: opacity 3s ease-out;
}

carousel > .wrapper > .thumbnail{
  width: 100%;
  aspect-ratio: 1.7;
  position: relative;
  /* margin: 10px; */
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--secondary);
  position: relative;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.live-tag{
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 3px 5px;
  color: var(--theme-color);
  background-color: var(--background);
  border-radius: 5px;
  font-weight: bold;
  font-size: 14px;
}

.views-tag{
  color: var(--primary-foreground);
  background-color: var(--background-opacity-dark);
  border-radius: 5px;
  font-size: 14px;
  padding: 3px 5px;
}

.carousel{
  position: absolute;
  top: 10px;
  right: 10px;
}

.loader > .popup{
  position: absolute;
  bottom: 15px;
  margin: 0px 15px;
  width: calc(100% - 60px);
  padding: 16px 15px;
  backdrop-filter: blur(10px);
  background-color: var(--background-opacity-light);
  border-radius: 10px;
  /* display: flex; */
  display: none;
  flex-direction: column;
  gap: 12px
}

.loader > .popup > .popup-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loader > .popup > .popup-header > .popup-title{
  display: flex;
  gap: 8px;
  color: var(--primary-foreground);
  font-weight: normal;
  align-items: center;
  font-size: 15px;
}

.loader > .popup > .popup-description{
  color: var(--primary-foreground);
  font-size: 13px;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  line-height: 1.5em;
  font-weight: normal;
  max-height: 3em;
  display: -webkit-box;
  -webkit-line-clamp: 2; 
  -webkit-box-orient: vertical;
}

divider{
  border-top: 1px solid var(--primary-border);
  padding: 0px 20px;
  margin: 8px 20px; 
  position: relative
}

divider > .show-more{
  position: absolute;
  padding: 13px 18px;
  background-color: var(--background);
  color: var(--secondary-foreground);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold
}

categories{
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  gap: 15px;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 3px
}

categories::-webkit-scrollbar {
  display: none;
}

categories > .wrapper{
  min-width: 138px;
  /* min-width: 135px; */
  /* max-width: 135px; */
  flex: 1;
  max-width: calc(50% - 15px); 
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 5px;
  white-space: nowrap;
}

categories > .wrapper > div{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

categories > .wrapper > .thumbnail{
  width: 100%;
  aspect-ratio: .71;
  position: relative;
  /* margin: 10px; */
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--secondary);
  position: relative;
  transition: background-color 0.5s ease;
}

categories > .wrapper > div:nth-child(2){
  font-weight: bold;
  font-size: 16px;
  margin-top: 5px;
  color: var(--primary-foreground)
}

categories > .wrapper > div:nth-child(3){
  color: var(--secondary-foreground);
  font-size: 14px
}

categories > .wrapper > div:nth-child(4){
  display: flex;
  gap: 6px
}

.panel{
  padding: 3px 6px;
  background-color: var(--secondary);
  color: var(--secondary-foreground);
  font-size: 12px;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.panel.large{
  font-weight: bold;
  font-size: 16px;
}

channels{
  /* display: flex;
  flex-wrap: nowrap; */
  display: grid;
  /* grid-template-columns: repeat(4, 1fr);  */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  overflow: hidden;
  /* flex-wrap: nowrap;  */
  /* max-height: 305px; */
  grid-template-rows: 1fr;
  gap: 7.5px;
}

.default{
  grid-auto-rows: 0;
}

channels > .wrapper{
  /* padding: 5px; */
  /* background-color: red; */
  /* min-width: 330px; */
  width: 100%;
  /* background-color: blue; */
  flex: 1;
  /* max-width: calc(50% - 15px);  */
  display: flex;
  /* flex-shrink: 0; */
  flex-direction: column;
  /* gap: 5px; */
  white-space: nowrap;
  border-radius: 5px;
  /* background-color: var(--primary-border); */
  /* margin: 5px; */
}

channels > .wrapper > .spacing{
  display: flex;
  /* flex: 1; */
  margin: 7.5px;
  /* background-color: red; */
  height: fit-content;
  flex-direction: column;
  gap: 5px;

  /* width: 100% */
}

channels > .wrapper > .spacing > .thumbnail{
  width: 100%;
  aspect-ratio: 1.7;
  position: relative;
  /* margin: 10px; */
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--secondary);
  position: relative;
}

.channels{
  position: absolute;
  bottom: 10px;
  left: 10px;
}

channels > .wrapper > .spacing > div:nth-child(2){
  display: flex;
  gap: 6px;
  font-weight: bold;
  color: var(--secondary-foreground);
  align-items: center;
  font-size: 14px
}

channels > .wrapper > .spacing > div:nth-child(3){
  font-weight: bold;
  color: var(--primary-foreground);
  font-size: 16px;
}

channels > .wrapper > .spacing > div:nth-child(4){
  font-weight: bold;
  color: var(--secondary-foreground);
  align-items: center;
  font-size: 14px
}

channels > .wrapper > .spacing > div:nth-child(5){
  display: flex;
  gap: 6px;
}

footer{
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 80px 20px 80px;
  flex-direction: column;
  align-items: center;
}

footer > div{
  color: var(--primary-foreground);
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  /* background-color: red; */
  white-space: normal;
}

footer > div > div{
  color: var(--secondary-foreground);
  display: flex;
  gap: 10px;
  align-items: center;
  font-weight: normal;
}

footer > div:nth-child(2) > div{
  display: inline-block;
  text-align: center;
  white-space: normal;
}

footer > div:nth-child(2) > div > div {
  display: inline-block;
  white-space: nowrap;
  margin: 4px;
}

footer > div:nth-child(3) > div > div {
  display: flex;
  flex-direction: row;
  white-space: nowrap;
  gap: 5px
}

footer > div:nth-child(3) > div > div > .highlight {
  color: var(--primary-foreground)
}

footer > div:nth-child(4) > div {
  display: flex;
  gap: 30px;
}

forbidden{
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: center; 
}

forbidden > div{
  display: flex;
  align-items: center;
  justify-content: center;  
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.forbidden-404{
  height: auto;
  width: 21vw;
  min-width: 150px;
  max-width: 400px;
  margin-bottom: 25px;
}

forbidden > div > h3{
  margin-bottom: 10px;
}

.categories.header{
  height: fit-content;
  display: flex;
  gap: 18px;
  align-items: center;
}

.categories.header > .wrapper{
  /* max-height: 138px; */
  max-width: 135px;
  min-width: 55px;
  /* max-width: 135px; */
  flex: 1;
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  gap: 5px;
  white-space: nowrap;
}

.categories.header > .wrapper > .thumbnail{
  width: 100%;
  aspect-ratio: .71;
  position: relative;
  /* margin: 10px; */
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--secondary);
  position: relative;
  transition: background-color 0.5s ease;
}

.categories.header > div:nth-child(2){
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 10px
}

.h1.adj{
  margin: 0px;
  padding: 0px;
}

.h2.adj{
  margin: 0px;
  padding: 0px;
  font-size: 18px;
}

.categories.header > div:nth-child(2) > div:nth-child(2) {
  display: flex;
  gap: 10px
}

.categories.header > div:nth-child(2) > div:nth-child(3) {
  display: flex;
  gap: 5px
}

filter > div {
  height: fit-content;
  width: fit-content;
  display: flex;
  gap: 12px;
}

filter > div > * {
  padding: 10px 0px;
  font-weight: bold;
  color: var(--primary-foreground);
  border-bottom: 2px solid var(--theme-color);
}

.deselected{
  font-weight: normal;
  border: none;
}

stream{
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
  width: 100%;
  height: 100%;
  grid-template-areas: 
  "rest chat";
}

stream > div:nth-child(1){
  grid-area: rest;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  overflow-y: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

stream > div:nth-child(1)::-webkit-scrollbar {
  display: none;
  }

stream > div:nth-child(2){
  grid-area: chat;
  width: 340px;
  height: 100%;
  background-color: var(--chat-background);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.backdrop{
  height: fit-content;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.video-player{
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1260px;
  aspect-ratio: 1.77;
  background-color: var(--primary);
}

stream > div:nth-child(2) > div:nth-child(1) {
  display: flex;
  padding: 11px;
  border-bottom: 1px solid var(--primary-border);
  flex: 0 0 fit-content; 
}

stream > div:nth-child(2) > div:nth-child(1) > div{
  color: var(--primary-foreground);
  font-weight: bold;
  flex: 1;
  text-align: center;
}

stream > div:nth-child(2) > div:nth-child(2){
  /* height:100%; */
  width: 100%;
  flex: 1;
  padding: 10px;
  display: flex;
  gap: 1px;
  flex-direction: column;
  overflow: scroll;
  /* background-color: red;  */
}

stream > div:nth-child(2) > div:nth-child(3){
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  height: 100px;
  width: 100%;
  flex: 0 0 fit-content; 
  padding: 10px;
  justify-content: center;
  gap: 10px;
  /* background-color: red; */
}

.feed {
  width: calc(100% - 30px);
  /* height: fit-content; */
  /* display: flex; */
  padding: 5px;
  border-radius: 5px;
  /* background-color: red; */
}

.feed > div{
  color: var(--primary-foreground);
  margin-left: 3px;
  line-height: 150%;
  /* flex-wrap: wrap; */
}

.feed > div > span{
  /* color: var(--primary-foreground); */
  font-weight: bold;
  margin-right: 5px;
}

.feed > div > span > span{
  color: var(--primary-foreground);
}

chat{
  display: flex;
  position: relative;
}

.chat-input{
  height: 35px;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-border);
  font-weight: bold;
  width: calc(100% - 8px - 55px);
  padding-left: 40px;
}

.chat-input::placeholder{
  color: var(--secondary-foreground);
  font-size: 15px;
}

.lock{
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: var(--secondary-foreground);
}

.dock{
  display: flex;
  width: calc(100% - 20px);
  justify-content: space-between;
  /* background-color: red; */
}

.controls{
  /* height: 50px; */
  width: calc(100% - 30px);
  display: flex;
  flex: 1;
  /* background-color: rgba(0,0,0,.5); */
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,0.5536808473389356) 0%, rgba(255,255,255,0) 100%); 
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: 1;
}

.controls > div:nth-child(1){
  display: flex;
  align-items: center;
  gap: 18px;
}

.controls > div:nth-child(1) > div:nth-child(3){
  color: var(--theme-color)
}

.controls > div:nth-child(2){
  display: flex;
  align-items: center;
  gap: 18px;
}

.controls > div:nth-child(2) >  div:nth-child(1){
  color: var(--primary-foreground);
  margin-right: 4px;
}

.info{
  width: 100%;
  margin-bottom: 100px;
}

.info > div:nth-child(1){
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
}

.info > div:nth-child(1) > div:nth-child(1){
  display: flex;
  gap: 10px;
  align-items: center;
}

.user-info{
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.user-info > div:nth-child(1){
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--primary-foreground);
  font-weight: bold;
  font-size: 17px;
}

.user-info > div:nth-child(2){
  color: var(--primary-foreground);
  font-size: 14px;
}

.user-info > div:nth-child(3){
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--theme-color);
  gap: 4px;
  font-size: 14px;
}

.user-info > div:nth-child(3) >  div:nth-child(1){
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: inherit
}

.badge{
  color: var(--theme-color);
}

.avi.large{
  height: 77px;
  width: 77px;
  outline: var(--theme-color) 2px solid;
  position: relative;
  overflow: visible;
}

.avi.wrapper{
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.live.tag{
  padding: 4px 6px;
  background-color: var(--theme-color);
  position: absolute;
  right: 50%;
  bottom: -5px;
  transform: translateX(50%);
  z-index: 1;
  font-weight: bold;
  font-size: 10px;
  border-radius: 3px;
}

.info > div:nth-child(1) > div:nth-child(2){
  display: flex;
  align-items: center;
  gap: 5px
}

.info > div:nth-child(1) > div:nth-child(2) > div:nth-child(2) {
  color: var(--theme-color);
}

.info > div:nth-child(1) > div:nth-child(2) > div:nth-child(3) {
  color: var(--primary-foreground);
  margin-right: 5px
}

.more-info{
  min-height: 180px;
  width: 100%;
  background-color: var(--secondary);
  border-radius: 5px;
  display: flex;

}

.more-info > div{
  display: flex;
  gap: 10px;
  flex-direction: column;
  /* background-color: red; */
  margin: 28px 30px
}

.more-info > div > div:nth-child(1){
  font-size: 26px;
  font-weight: bold;
  color: var(--primary-foreground)
}

.more-info > div > div:nth-child(2){
  font-weight: bold;
  font-size: 18px;
  color: var(--primary-foreground)
}

.more-info > div > div:nth-child(3){
  color: var(--primary-foreground)
}

modal{
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgba(0,0,0, .5);
  display: flex;
  justify-content: center;
  align-items: center;
}

modal > .popup{
  max-height: 850px;
  max-width: 500px;
  width: 100%;
  height: 100%;
  background-color: var(--primary); 
  position: relative;
  z-index: 99;
}

modal > .popup > div {
  margin: 25px;
  display: flex;
  flex-direction: column;
  gap: 30px
}

.border.close{
  position: absolute;
  top: 0;
  right: 0
}

.forms > div{
  display: flex;
  gap: 4px;
  flex-direction: column;
}

.forms{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px
}

.forms.title{
  font-size: 14px;
  color: var(--primary-foreground);
  font-weight: bold;
}

.forms.input{
  width: calc(100% - 15px);
  background-color: var(--primary-border);
  border: none;
  height: 35px;
  border-radius: 2px;
  padding-left: 8px;
}

.forms.input:focus{
  background-color: var(--background);
}

.theme.submit{
  width: calc(100% - 6px)
}

.border.submit{
  width: calc(100% - 6px)
}

.forms.date{
  height: 15px;
  display: flex;
  gap: 8px;
  width: 100%;
  flex-direction: row;
  margin-bottom: 17px;
}

.forms.date > div {
  width: 100%;
  height: 100%;
  background-color: var(--background);
  border-radius: 5px;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  color: var(--primary-border);
  flex-direction: row;
  align-items: center;
}


/***************************   Animation   ***************************/

.logo:hover{
  cursor: pointer;
}

nav > h3:hover {
  color: var(--theme-color);
  cursor: pointer;
}

nav > .wrapper:hover {
  background-color: var(--primary-border);
  cursor: pointer;
}

input:hover{
  background-color: var(--primary-border);
}

.border:hover{
  background-color: var(--primary-border);
}

.border.disable:hover{
  cursor: text;
}

button:hover{
  cursor: pointer;
}

.icons:hover{
  cursor: pointer;
}

.tab > .spacing:hover{
  background-color: var(--primary-border);
  cursor: pointer;
}

.show-less:hover, .show-more:hover{
  cursor: pointer;
}

.tab.collapsed > .wrapper:hover {
  background-color: var(--primary-border);
  cursor: pointer;
}

carousel:hover ~ .arrows{
  opacity: 1;
  transition: opacity .5s ease-in;
  /* background-color: red; */
} 

.arrows:hover{
  cursor: pointer
}

.arrows:active{
  opacity: 1;
}

carousel > .wrapper .thumbnail:hover{
  /* zoom: 1.1; */
  transform: scale(1.025);
  cursor: pointer;
}

carousel > .wrapper > .thumbnail:hover .popup{
  display: flex;
}

.thumbnail:hover{
  cursor: pointer;
}

carousel > .wrapper > div:nth-child(n+2):nth-child(-n+5):hover{
  color: var(--theme-color);
  cursor: pointer
}

/*  */

categories > .wrapper > .thumbnail:hover{
  outline: 3px var(--theme-color) solid;
  background-color: var(--theme-color-opacity);
  /* opacity: .5; */
} 

categories > .wrapper > div:nth-child(2):hover{
  color: var(--theme-color);
  cursor: pointer;
}

.panel:hover {
  color: var(--primary-foreground);
}

channels > .wrapper:hover{
  background-color: var(--primary-border);
}

channels > .wrapper > .spacing > div:nth-child(n+2):nth-child(-n+4):hover{
  color: var(--theme-color);
  cursor: pointer
}

footer > div:nth-child(3) > div > div > .highlight:hover {
  color: var(--primary-foreground);
  cursor: pointer;
}

footer > div:nth-child(2) > div > div:nth-of-type(odd):hover {
  color: var(--primary-foreground);
  cursor: pointer;
}

filter > div > *:hover{
  cursor: pointer;
}

.loader {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(90deg, transparent 25%, rgba(255, 255, 255, 0.2) 50%, transparent 75%);
  background-size: 200% 100%;
  animation: shimmer 2s infinite linear;
}

.feed:hover{
  background-color: var(--primary-border);
}

.video-player:hover .controls{
  opacity: 1;
}

.icons.control:hover{
  color: var(--theme-color)
}

.controls > div:nth-child(2) >  div:nth-child(1):hover{
  cursor: default;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/***************************   Mobile   ***************************/

@media screen and (max-width: 1200px) {
  footer > div:nth-child(3) > div{
    display: flex;
    flex-direction: column;
    gap: 15px
  }

  footer > div:nth-child(3) > div > div:nth-of-type(even){
    display: none;
  }

  .info > div:nth-child(1){
    display: none;
  }

  section > .more-info{
    display: none;
  }

  .info > section {
    padding: 0px;
    margin: 0px;
  }
}

@media screen and (max-width: 925px) {
  searchbar, nav > h3, sidebar{
    display: none;
    width: 0px
  }
  .search{
    display: flex;
  }

  .chevron{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  carousel{
    overflow: hidden;
  }

  carousel > .wrapper{
    overflow: hidden;
    min-width: 100%;
  }

  carousel > .wrapper .thumbnail:hover{
    transform: scale(1);
  }

  .arrows{
    opacity: 1
  }

  channels{
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .h1.adj{
    font-size: 18px;
  }

  .h2.adj{
    font-size: 15px;
  }

  .controls > div:nth-child(1) > div:nth-child(1) {
    display: none;
  }

  .controls > div:nth-child(2) > .icons.control:nth-child(n+2):nth-child(-n+3){
    display: none;
  }

}